.header {
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;

  /* &__mobile {
      @include flex-center;
      @include height-width(100vh, 100%);
      background-color: $primary-background;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 1;
  } */
}