.container {
  width: 100%;
}

.navItems {
  background: var(--color-primary-50);
  display: flex;
  flex-direction: row;
  height: 8vh;
  justify-content: space-around;
  padding: 0 10%;
  text-align: center;
  width: 100%;
}

.navItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  list-style: none;
}

.item {
  font-weight: 700;
  font-size: var(--size-3);
}

.item:before {
  content: "";
  display: block;
  height: 4px;
  margin-top: 15px;
}

.item:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 var(--color-primary-250);
  content: "";
  display: block;
  height: 4px;
  margin-top: 15px;
  width: 0;
}

.item:hover:after {
  padding-right: 35px;
  width: 50%;
}