.container {
  background-color: var(--color-primary-50);
  height: 93vh;
  width: 100%;
  position: relative;
}

.textWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--color-grey-800);
  background: var(--color-grey-125);
  padding: 15px;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
}

.textTitle {
  font-weight: 800;
  letter-spacing: 3px;
  font-size: var(--size-6);
  margin: 0;
}

.textDescription {
  font-size: var(--size-3);
  margin: 0;
}

@media (min-width: 480px) {
  .textWrapper {
    height: 125px;
  }

  .textTitle {
    font-size: var(--size-8);
  }

  .textDescription {
    font-size: var(--size-4);
  }
}

@media (min-width: 980px) {
  .textWrapper {
    height: 150px;
  }

  .textTitle {
    font-size: var(--size-12);
  }

  .textDescription {
    font-size: var(--size-5);
  }
}