* {
  box-sizing: border-box;
}

html,
body {
  --color-grey-50: #f4effa;
  --color-grey-100: #dfdbe6;
  --color-grey-125: #ffffffbf;
  --color-grey-150: #acafba;
  --color-grey-200: #b2adb8;
  --color-grey-300: #a7a3ae;
  --color-grey-400: #918d96;
  --color-grey-500: #66606d;
  --color-grey-600: #6a676f;
  --color-grey-700: #4f4c52;
  --color-grey-800: #343036;
  --color-grey-900: #221f23;
  --color-grey-950: #0712228f;
  --color-grey-1000: #000000;

  --color-primary-10: #ffffff;
  --color-primary-25: #fafafa;
  --color-primary-50: #f4f5f7;
  --color-primary-100: #C2CAD0;
  --color-primary-150: #C2B9B0;
  --color-primary-200: #AFD275;
  --color-primary-250: #26b5f2;
  --color-primary-300: #E7717D;
  --color-primary-350: #ff5656;
  --color-primary-400: #7E685A;
  --color-primary-500: #35373e;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-10: 2.5rem;
  --size-12: 3rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  background-color: var(--color-primary-50);
  color: #252525;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}