.main {
  width: 100%;
}

.box1 {
  height: 94vh;
}

.box {
  height: 100vh;
}

.lista {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item {
  list-style: none;
  cursor: pointer;
}