.container {
  background-color: var(--color-primary-50);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 100%;
  height: 100vh;
}

.wrapper h2,
.wrapper p {
  margin: 0;
}

.image,
.text {
  width: 100%;
}

.image {
  height: 40vh;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.image span {
  height: 30vh!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  width: 100%!important;
}

.text {
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.textTitle {
  color: var(--color-grey-900);
  font-size: var(--size-4);
  letter-spacing: 5px;
}

.textDescription {
  line-height: 19px;
  letter-spacing: .5px;
  font-size: var(--size-3);
  color: var(--color-grey-500);
}

.textReadMore {
  font-weight: 500;
  letter-spacing: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-grey-900);
}

.readMore {
  border: 2px solid var(--color-grey-900);
  padding: 7px;
  border-radius: 2px;
  transition: border-color .3s ease;
  font-size: var(--size-3);
}

.readMore:hover {
  border: 2px solid var(--color-grey-900);
}

@media (min-width: 980px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
  }

  .image,
  .text {
    width: 50%;
  }

  .image {
    height: 50vh;
  }

  .image span {
    height: initial!important;
    top: 0!important;
    left: 0!important;
    transform: none!important;
    width: initial!important;
  }

  .text {
    justify-content: space-around;
    height: 45vh;
    text-align: left;
    align-items: flex-start;
  }

  .textTitle {
    font-size: var(--size-6);
  }

  .textDescription {
    line-height: 23px;
    letter-spacing: 1px;
    font-size: var(--size-4);
  }

  .readMore {
    border: 2px solid var(--color-primary-50);
    font-size: var(--size-4);
  }
}